*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-image: url('../images/call-center-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
}

header nav{
    float: right;
}

header nav.mobile-menu {
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../images/option.png');
}

header .logo{
    float: left;
    width: 200px;
    height: 50px;
    background-image: url('../images/call-center.png');
    background-size: cover;
    background-position: center;
}

header nav.desktop-menu ul{
    list-style-type: none;
}

header nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

header nav.desktop-menu li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}



.chamada1 {
    max-width: 600px;
    float:right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 30px;
    color: white;
    font-weight: 500;
    background-color: rgba(65, 57, 57, 0.445);
    padding: 5px;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao1{
    width: 100%;
    background-color: #041C32;
    padding: 0 2%;
    height: 400px;
}

section.sessao1 .container{
    max-width: 1000px;
}

.texto-sessao1{
    float: left;
    width: 50%;
    position: relative;
    left: 45px;
    margin-top: 40px;
    padding-left: 80px;
    color: white;
}

.texto-sessao1 h2{
    font-size: 26px;
    font-weight: 300;
}

.texto-sessao1 p{
    margin-top: 20px;
    font-size: 15px;
}

.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: outside;
    padding-left: 15px;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.botao-texto {
    background-color: #007ED9;
    width: 165px;
    height: 44px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.botao-texto:hover{
    background-color: #0290f5;
}

.device-sessao1{
    float: left;
    width: 50%;
    height: 430px;
    position: relative;
    top: -30px;
    background-image: url('../images/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@media screen and (max-width: 768px) {
    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    .chamada1 {
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 100px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        color: white;
        font-weight: 300;
        background-color: rgba(65, 57, 57, 0.445);
        padding: 0 0px;
    }
    
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }

    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1{
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        float: none;
        display: inline-block;
    }

    .texto-sessao1 ul{
        display: inline-block;
        width: auto;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .botao-texto {
        display: inline-block;
    }

    .device-sessao1{
        display: none;
    }

}