*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    max-height: 700px;
    background-image: url('../images/call-center-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
}

header nav{
    float: right;
}

header .logo{
    float: left;
    width: 200px;
    height: 50px;
    background-image: url('../images/call-center.png');
    background-size: cover;
    background-position: center;
}

header nav ul{
    list-style-type: none;
}

header nav li{
    float: left;
    padding: 0 20px;
}

header li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.chamada1 {
    max-width: 600px;
    float:right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 30px;
    color: white;
    font-weight: 500;
    background-color: rgba(65, 57, 57, 0.445);
    padding: 5px;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

section.sessao1{
    width: 100%;
    background-color: #C40000;
    padding: 20px 2%;
}

.texto-sessao1{
    float: left;
}

.texto-sessao1 h2{
    font-weight: 300;
}