*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    /*max-height: 700px;*/
    background-image: url('../images/call-center-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: 2;
}

header nav{
    float: right;
}

nav.mobile-menu {
    cursor: pointer;
    display: none;
    width: 32px;
    height: 32px;
    background-image: url('../images/option.png');
    background-size: 100% 100%;
}

nav.mobile-menu:hover ul{
    opacity: 1;
}

nav.mobile-menu ul{
    opacity: 0;
    transition: 0.6s;
    background-color: white;
    position: absolute;
    width: 100%;
    left: 0;
    top: 60px;
    color: white;
    list-style-type: none;
    text-align: center;
}

nav.mobile-menu ul li{
    padding: 8px 0;
    border-bottom: 1px solid grey;
}

nav.mobile-menu ul li:hover{
    background-color: #d6d6d6;
    transition: 0.4s;
}

nav.mobile-menu ul li a{
    color: #041C32;
    text-decoration: none;
}


header .logo{
    float: left;
    width: 200px;
    height: 50px;
    background-image: url('../images/call-center.png');
    background-size: cover;
    background-position: center;
}

nav.desktop-menu ul{
    list-style-type: none;
}

nav.desktop-menu li{
    float: left;
    padding: 0 20px;
}

nav.desktop-menu li a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}



.chamada1 {
    max-width: 600px;
    float:right;
    margin: 140px 150px;
}

.chamada1 h2{
    font-size: 30px;
    color: white;
    font-weight: 500;
    background-color: rgba(65, 57, 57, 0.445);
    padding: 5px;
}

.chamada1 p{
    font-size: 15px;
    color: white;
    margin-top: 10px;
}

/*---- sessao1 ----*/

section.sessao1{
    width: 100%;
    background-color: #041C32;
    padding: 0 2%;
    height: 400px;
}

section.sessao1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}

.texto-sessao1{
    float: left;
    width: 50%;
    position: relative;
    left: 45px;
    margin-top: 40px;
    padding-left: 80px;
    color: white;
}

.texto-sessao1 h2{
    font-size: 26px;
    font-weight: 300;
}

.texto-sessao1 p{
    margin-top: 20px;
    font-size: 15px;
}

.texto-sessao1 ul{
    font-size: 15px;
    list-style-position: outside;
    padding-left: 15px;
}

.texto-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.botao-texto {
    background-color: #007ED9;
    width: 165px;
    height: 44px;
    color: white;
    font-size: 13px;
    cursor: pointer;
    margin-top: 30px;
    text-align: center;
    line-height: 44px;
    border-radius: 30px;
}

.botao-texto:hover{
    background-color: #0290f5;
}

.device-sessao1{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
    top: -30px;
    background-image: url('../images/device.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*---- sessao2 ----*/

section.sessao2{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    text-align: center;
}

.sessao2 .container{
    max-width: 900px;
}

.sessao2 h2{
    color: #041C32;
    font-weight: 300;  
}

.sessao2 p{
    margin-top: 30px;
    max-width: 700px;
    display: inline-block;
}

.sessao2 img{
    position: relative;
    top: 70px;
    width: 100%;
    margin-top: 10px;
}

/*---- sessao3 ----*/

section.sessao3{
    width: 100%;
}

.wraper-part1{
    max-width: 600px;
    float: right;
    padding: 0 30px;
}

.part1{
    color: aliceblue;
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: #1597BB;
}

.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}

.part1 p{
    font-size: 16px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background: white;
}

.sobre-autor{
    float: left;
    max-width: 600px;
    padding-left: 30px;
}

.titulo-autor{
    float: left;
    width: 100%;
}

.wraper-titulo-autor{
    float: left;
}

.titulo-autor h2{
    color: #041C32;
    font-weight: 500;
    font-size: 21px;
    padding-right: 20px;
}

.titulo-autor{
    font-size: 13px;
    color: #003a63;
    font-style: italic;
    font-weight: 300;
}

.titulo-autor .img-autor{
    float: left;
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
}

.texto-autor {
    float: left;
    width: 100%;
    margin-top: 10px;
}

.texto-autor p{
    color: #031424;
    font-size: 15px;
}

.slider-bullets{
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 12px;
}

.slider-bullets span{
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    cursor: pointer;
    border-radius: 8px;
    background-color: grey;
    
}

/*---- sessao4 ----*/

section.sessao4{
    background-color: #79bdee;
    padding: 100px 0;
}

.form {
    float: left;
    width: 50%;
}

.form h2{
    color: white;
    font-size: 23px;
    font-weight: 300;
}

.form p{
    font-size: 15px;
    font-weight: 300;
    color: white;
}

@media screen and (max-width: 830px) {
    .chamada1 {
        max-width: none;
        width: 100%;
        text-align: center;
        float: none;
        margin: 170px 0;
    }
    
    .chamada1 h2{
        font-size: 30px;
        color: white;
        font-weight: 300;
        background-color: rgba(65, 57, 57, 0.445);
        padding: 0 0px;
    }
    
    .chamada1 p{
        font-size: 15px;
        color: white;
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.desktop-menu{
        display: none;
    }

    nav.mobile-menu{
        display: block;
    }

    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .texto-sessao1{
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        float: none;
        display: inline-block;
    }

    .texto-sessao1 ul{
        display: inline-block;
        width: auto;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .botao-texto {
        display: inline-block;
    }

    .device-sessao1{
        display: none;
    }

    .sessao2{
        padding: 40px 2%;
    }

}

@media screen and (max-width: 580px){
    .part1{
        width: 100%;
        padding: 40px 0;
    }

    .part2{
        width: 100%;
        padding: 40px 0;
    }

    .sessao2 img{
        top: 16px;
        margin-top: 20px;
    }
}